# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Github Pages

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.x
      
    - name: Install .NET WASM Build Tools
      run: dotnet workload install wasm-tools
      
    - name: Publish .NET Core Project
      run: dotnet publish AStar/AStar.csproj -c:Release -p:GHPages=true -o dist/Web --nologo
      
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: dist/Web/wwwroot
